@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: 'Momo Trust Sans', Arial, Helvetica, sans-serif;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 0.8s ease-out 1s forwards;
  opacity: 0;
}

.animate-fade-in-down-delay-1 {
  animation: fadeInDown 0.8s ease-out 1.2s forwards;
  opacity: 0;
}

.animate-fade-in-down-delay-2 {
  animation: fadeInDown 0.8s ease-out 1.4s forwards;
  opacity: 0;
}

.animate-fade-in-down-delay-3 {
  animation: fadeInDown 0.8s ease-out 1.6s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.animate-background-fade-in {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-infinite-scroll {
  animation: infiniteScroll 20s linear infinite;
}
